{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Create short URL
{% endblock %}

{% block content %}
{% with action=view.action|default:"Add"  %}
    <h1>{{ action }}</h1>
    <form class="form-horizontal" method="post" action=".">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </div>
    </form>
{% endwith %}
{% endblock %}

